//------------------- ===== colors ===== --------------------------------------------------------------------------------------------

$lightred: #ff4040
$red: #ff0909
$darkred: #c10000
$ultradarkred: #6f0000

$lightpink: #ff64ff
$pink: #ff0d86
$darkpink: #d9006c

$lightgreen: #64ff64
$green: #00fb00
$darkgreen: #00a800
$ultradarkgreen: #006200

$ultralightgrey: #cacaca
$lightgrey: #c0beaf
$grey: #7c726d
$darkgrey: #313131
$ultradarkgrey: #2c2c2c

$lightorange: #fe9f5a
$orange: #ff9606
$darkorange: #bf5b00

$lightyellow: #ffff48
$yellow: #ffff00
$darkyellow: #d7d700

$gold: #FFD700
$darkgold: #DAA520

$lightbrown: #95693e
$brown: #533b22
$darkbrown: #3a2918

$ultralightblue: #8a8aff
$lightblue: #4848ff
$blue: #0000e6
$darkblue: #010196
$ultradarkblue: #000048

$lightpurple: #a800a8
$purple: #590059
$darkpurple: #350035

//Single colors

$black: #000000
$silver: #bcbcbc
$pale: #EEE8AA
$white: #ffffff
$paperwhite: #fdf5e8


$test: red

// ------------- ===== font variables ===== ------------------------------------------------------------------------------------------

$fonttiny: 50%
$fontTiny: 65%
$fontsmall: 80%
$fontS: 90%
$font: 100%
$Font: 115%
$fontmed: 130%
$fontM: 145%
$fontlarge: 160%
$fontL: 175%
$fontultra: 200%


//--------------------  ===== MIXINS =====  ------------------------------------------------------------------------------------------------

=clearDefualts()
    margin: 0px
    padding: 0px

=center()
    margin: auto

=borderRad($rad)
    -webkit-border-radius: $rad
    -moz-border-radius:    $rad
    -ms-border-radius:     $rad
    border-radius:         $rad

=color($color)
    color: $color

=bgcolor($color)
    background-color: $color

=boxSize($width, $height)
    width: $width
    height: $height

//  ---------------------- ===== Content ===== ----------------------------------------------------------------------------------------------

html
    +clearDefualts()
body
    +clearDefualts()







    //___________________________                                      \\          /v\          //
// ________________________________                                 \\        // \\        //
//_________________________________________                          \\      //   \\      //
//_________________________________                                   \\    //     \\    //
// __________________________                                          \\__//       \\__//
// ________________________                                   ______________________________________

#contentBarimg
    +boxSize($width: 150px, $height: 60px)
    background-color: $red
    padding: 10px
    position: absolute
    right: 0px
    margin-top: 35px


#contentBarQuickMenu
    +boxSize($width: 100%, $height: 60px)
    position: absolute
    margin-top: 35px
    background-color: $darkgrey
    display: inline-grid
//-----------__________________^^^^^^^^^^^^^^^^_____________^^^^^^^^^^^^^^^^^^^^___________Display
#contentBarContainer
    +boxSize($width: 100%, $height: 350px)
    margin-top: 35px
    background-color: $ultradarkgrey
    display: inherit
    margin-top: 95px

#ProfileBar
        +boxSize($width: 450px, $height: 90%)
        +clearDefualts()
        background-color: $darkred
        display: inline-block
        float: right

        ul
            +boxSize($width: 100%, $height: 45px)
            +clearDefualts()
            display: inline-block
            background-image: linear-gradient(to bottom right, $red 30%, black)
            border-bottom: 3px solid black
            border-bottom: 5px solid transparent
            border-image: linear-gradient(to bottom right, $darkgrey, $paperwhite)
            border-image-slice: 1
            padding: 0

            h4
                +boxSize($width: 150px, $height: 35px)
                font-weight: normal
                font-family: "Goudy Old Style", fantasy, Arial, Helvetica, sans-serif
                text-align: center
                margin: 2px auto
                padding-top: 5px
                margin-bottom: 10px
                background-image: linear-gradient(to bottom right, $black, $darkgrey)
                border-radius: 5px
                color: $white



//Profile Information Retreived from database
.accountListing
    +boxSize($width: 100%, $height: 38px)
    margin: 0px
    display: table
    background-color: $darkred
    border-bottom: 3px solid transparent
    border-image: linear-gradient(to top right, $darkred 1%, $black 25%)
    border-image-slice: 1
      
    b
        +boxSize($width: 143px, $height: 100%)
        font-size: $font
        background-color: $lightred
        display: inline-grid
        //border-right: 2px solid black
        border-left: 7px solid black
        border-top-left-radius: 5%
        border-bottom-left-radius: 5%
        float: left
        color: $black

        ol
            margin: 0px
            margin-top: 2px
            padding-left: 8px
        
    p
        +boxSize($width: auto, $height: 100%)
        font-size: $fontsmall
        float: left
        margin-left: 5px
        margin-top: 5px
        margin-bottom: -5px
        text-align: bottom
        display: inline-block
        color: $paperwhite

//edit username button
.edit_btn
    +boxSize($width: 40px, $height: 25px)
    font-size: $fontsmall
    float: right
    margin-right: 7px
    margin-top: 5px

.profile_Edit_Text
    +clearDefualts()
    +boxSize($width: 230px, $height: 35px)
    position: absolute
    right: 76px
    display: none

.profile_Edit_btn
    +clearDefualts()
    +boxSize($width: 70px, $height: 35px)
    position: absolute
    right: 2px
    display: none

